
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Audimance - DESCENT</title>

   <link rel="stylesheet" href="/css/master.css">
</head>
<body>
   <a href="/live">Go to Performance</a>
   <br/>

	<ul id="preshow">
		<li>
			Welcome to Audimance <!-- .
			This page holds the program, poetry and prose from disabled artists
			and scholars, and some background information about the performance.
			At the beginning of the performance and after intermission, you will
			be automatically taken to the performance audio which you may navigate
			and mix to your liking by moving your finger around the screen.   

			Make sure that your wifi is on and that you are connected to the ""
			network, and note that during and around the performance you will also
			hear both speakers and the music soundtrack through the room audio
			rather than in your headphones, so you may wish to adjust your volume
			accordingly.  
			 -->
		</li>
		<li>
         <strong>DESCENT Program</strong>: 24 minutes,<br />
				Including Welcome, About Kinetic Light and Descent, 
				Credits and Bios, Funders, and how to keep in touch 
			<br />
			<audio controls>
				<source src="media/static/program.webm" />
				<source src="media/static/program.m4a" />
			</audio>
         <!--<a href="media/static/program.pdf">or read as PDF</a>-->
		</li>
		<li>
         <strong>Invitation</strong>: 7 minutes, <br />
				Poetry composed and read by Eli Clare
			<br />
			<audio controls>
				<source src="media/static/eli.opus" />
				<source src="media/static/eli.m4a" />
			</audio>
		</li>
		<li>
         <strong>What the ramp teaches</strong>: 7 minutes, <br/>
				An essay by Georgina Kleege, read by Alice Sheppard
			<br />
			<audio controls>
				<source src="media/static/georgina.opus" />
				<source src="media/static/georgina.m4a" />
			</audio>
		</li>
		<li>
         <strong>The Homeland Ramp</strong>: 3 minutes, <br />
				An essay by Alice Sheppard
			<br />
			<audio controls>
				<source src="media/static/homeland.opus" />
				<source src="media/static/homeland.m4a" />
			</audio>
		</li>
		<li>
         <strong>On Ramps</strong>: 4 minutes, <br/>
				An essay by Alice Sheppard
			<br />
			<audio controls>
				<source src="media/static/aliceramps.opus" />
				<source src="media/static/aliceramps.m4a" />
			</audio>
		</li>
		<li>
         <strong>Inclined Planes</strong>: 3 minutes, <br />
				An essay by Sara Hendren
			<br />
			<audio controls>
				<source src="media/static/sararamps.opus" />
				<source src="media/static/sararamps.m4a" />
			</audio>
		</li>
		<li>
         <strong>Ramp Collaboration</strong>: 1 minute, <br />
				About the process of generating the ramp
			<br />
			<audio controls>
				<source src="media/static/collab.opus" />
				<source src="media/static/collab.m4a" />
			</audio>
		</li>
		
	</ul>

   <a href="/live">Go to Performance</a>

	<script src="/app/eventemitter3.js"></script>
	<script src="/app/performanceTime.js"></script>
	<script src="/app/index.js"></script>
</body>
</html>
