<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible">

	<title>Audimance - DESCENT Performance</title>

   <link rel="stylesheet" href="/css/master.css">
</head>
<body>

   <h3> Select your experience </h3>

   <ul>
      <li>
         <a href="/room/8084a0953a687e398b34db0d4f711204">Spatial Mixing (Android only)</a>
      </li>
      <li>
         <a href="/tracks/8084a0953a687e398b34db0d4f711204">Menu Mixing (recommended)</a>
      </li>
   </ul>

</body>
</html>
