<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible">

	<title>Audimance - DESCENT {{fRoom.LabelText}}</title>

</head>
<body>

	Room {{.Room.LabelText}} <span id="loadStatus">loading</span>
	<input type="hidden" id="roomName" value="{{.Room.Name}}">

	<!-- audio files to be played -->
	{{range .Room.AllTracks}}
	<audio id="{{.ID}}" preload="auto">
		<source real_src="{{.URI}}" type="audio/ogg; codecs=opus"/>
	</audio>
	{{end}}

	<script src="/app/resonance-audio.min.js"></script>
	<script src="/app/room.js"></script>
</body>
</html>
