
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible">

	<title>Audimance - DESCENT</title>

</head>
<body>
	<!-- audio files to be played (so that they may be pre-loaded -->
	{{range $key, $val := .AllTracks()}}
	<audio id="{{$val.ID()}}" preload="auto" src="{{$val.URI()}}" preload="auto">
	{{end}}

	<ul>
		<li>
			Welcome to Audimance.
			This page holds the program, poetry and prose from disabled artists and scholars, and some background information about the performance.  At the beginning of the performance and after intermission, you will be automatically taken to the performance audio which you may navigate and mix to your liking and listening skills by moving your finger around the screen.   
			Please make sure that your wifi is on and that you are connected to the "" network, and note that during and around the performance you will also hear both speakers and the music soundtrack through the room audio rather than in your headphones, so you may wish to adjust your volume accordingly.  
		</li>
		<li>
			<audio controls>
				DESCENT Program: 15 minutes,
				Including Welcome, About Kinetic Light and Descent, 
				Credits and Bios, Funders, and how to keep in touch 
				<source src="media/static/program.opus" />
			</audio>
			<a href="media/static/program.pdf">or read as PDF</a>
		</li>
		<li>
			<audio controls>
				Invitation: 7 minutes, 
				Poetry composed and read by Eli Clare
				<source src="media/static/eli.opus" />
			</audio>
		</li>
		<li>
			<audio controls>
				What the ramp teaches: 7 minutes,
				An essay by Georgina Kleege, read by Alice Sheppard
				<source src="media/static/georgina.opus" />
			</audio>
		</li>
		<li>
			<audio controls>
				The Homeland Ramp: 3 minutes, 
				An essay by Alice Sheppard
				<source src="media/static/homeland.opus" />
			</audio>
		</li>
		<li>
			<audio controls>
				On Ramps: 4 minutes, 
				An essay by Alice Sheppard
				<source src="media/static/aliceramps.opus" />
			</audio>
		</li>
		<li>
			<audio controls>
				Inclined Planes: 3 minutes,
				An essay by Sara Hendren
				<source src="media/static/sararamps.opus" />
			</audio>
		</li>
		<li>
			<audio controls>
				Ramp Collaboration: 1 minute,
				About the process of generating the ramp
				<source src="media/static/collab.opus" />
			</audio>
		</li>
		
	</ul>

</body>
</html>
